version: "3.9"

# Provide access to record-manager-ui that runs locally in dev mode
x-access-for-local-development: &local-dev-env
  cors.allowedOrigins: "http://localhost:4173,http://localhost:5173"

# Provide logging to Java application (e.g. record-manager)
x-logging-java-application: &logging-java
  LOGGING_LEVEL_ROOT: "debug"

# Expose port to access db-server directly, bypassing nginx
x-access-db-server-development-port: &db-server-dev-port
  ports:
    - "127.0.0.1:${DB_SERVER_DEV_PORT:-7205}:7200"

services:
  nginx:
    image: nginx:latest
    container_name: ${RECORD_SET_NAME:-rm}-nginx
    ports:
      - "127.0.0.1:${INTERNAL_HOST_PORT:-1235}:80"
    restart: always
    depends_on:
      - record-manager
      - record-manager-server
      - s-pipes-engine
      - db-server
      - ava-analytics-ui
    environment:
      NGINX_ENVSUBST_OUTPUT_DIR: /etc/nginx
      APP_ORIGIN: "${PUBLIC_ORIGIN:-http://localhost:${INTERNAL_HOST_PORT:-1235}}"
      APP_ROOT_PATH: "${APP_ROOT_PATH:-}"
      RECORD_MANAGER_PATH: "${RECORD_MANAGER_PATH:-/record-manager}"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/templates/nginx.conf.template:ro
      - ../shared/nginx/error.html:/usr/share/nginx/html/error.html:ro
      - ./nginx/index.html:/usr/share/nginx/html/index.html:ro
      - ../shared/nginx/images:/usr/share/nginx/html/images:ro

  record-manager:
    image: ghcr.io/kbss-cvut/record-manager-ui:latest
    container_name: ${RECORD_SET_NAME:-rm}-record-manager
    expose:
      - "80"
    restart: always
    depends_on:
      - record-manager-server
    environment:
      API_URL: "${PUBLIC_ORIGIN:-http://localhost:${INTERNAL_HOST_PORT:-1235}}${APP_ROOT_PATH:-}/services/record-manager-server"
      APP_INFO: "${RECORD_MANAGER_APP_INFO:-}"
      APP_TITLE: "${RECORD_MANAGER_APP_TITLE:-Record Manager}"
      LANGUAGE: "${LANGUAGE:-en}"
      NAVIGATOR_LANGUAGE: "false"
      BASENAME: "${APP_ROOT_PATH:-}${RECORD_MANAGER_PATH:-/record-manager}"
      EXTENSIONS: "${RECORD_MANAGER_EXTENSIONS:-supplier}"

  record-manager-server:
    image: ghcr.io/kbss-cvut/record-manager:latest
    container_name: ${RECORD_SET_NAME:-rm}-record-manager-server
    expose:
      - "8080"
    restart: always
    depends_on:
      - s-pipes-engine
      - db-server
    environment:
      <<: *local-dev-env
      appContext: "${PUBLIC_ORIGIN:-http://localhost:${INTERNAL_HOST_PORT:-1235}}${APP_ROOT_PATH:-}${RECORD_MANAGER_PATH:-/record-manager}"
      repositoryUrl: "http://db-server:7200/repositories/record-manager-app"
      formGenRepositoryUrl: "http://db-server:7200/repositories/record-manager-formgen"
      formGenServiceUrl: "${FORMGEN_SERVICE_URL}"

  s-pipes-engine:
    image: ghcr.io/kbss-cvut/s-pipes/s-pipes-engine:latest
    container_name: ${RECORD_SET_NAME:-rm}-s-pipes-engine
    expose:
      - "8080"
    restart: always
    depends_on:
      - db-server
    environment:
      FORMGEN_REPOSITORY_URL: "http://db-server:7200/repositories/record-manager-formgen"
    volumes:
      - ../shared/s-pipes-engine/scripts:/scripts/root:ro

  db-server:
    <<: *db-server-dev-port
    build:
      context: ../shared/db-server
    image: ${RECORD_SET_NAME:-rm}-db-server
    container_name: ${RECORD_SET_NAME:-rm}-db-server
    environment:
      GDB_JAVA_OPTS: "-Dgraphdb.external-url=${PUBLIC_ORIGIN:-http://localhost:${INTERNAL_HOST_PORT:-1235}}${APP_ROOT_PATH:-}/services/db-server"
    expose:
      - "7200"
    restart: always
    volumes:
      - ../shared/db-server/import:/root/graphdb-import:ro
      - db-server:/opt/graphdb/home

  ava-analytics-ui:
    image: ghcr.io/kbss-cvut/ava-analytics-ui:latest

volumes:
  db-server:
