// Dynamic configuration
window.__config__ = {
  API_URL: '${API_URL}',
  APP_TITLE: '${APP_TITLE}',
  APP_INFO: '${APP_INFO}',
  APP_LANGUAGE: '${APP_LANGUAGE}',
  NAVIGATOR_LANGUAGE: '${NAVIGATOR_LANGUAGE}',
  BASENAME: '${BASENAME}',
  EXTENSIONS: '${EXTENSIONS}',
  AUTHENTICATION: '${AUTHENTICATION}',
  AUTH_SERVER_URL: '${AUTH_SERVER_URL}',
  AUTH_CLIENT_ID: '${AUTH_CLIENT_ID}',
  ANALYTICS_URL: '${ANALYTICS_URL}'
}
